.profiles-info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.profiles-info__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #D6D8E7;
  border-radius: 16px;
  background: #FFFFFF;
  padding-top: 35px;
  margin-right: 32px;
  margin-bottom: 60px;
  width: 320px;
  height: 298px;
  position: relative;
}

.profiles-info__block p {
  margin: 0;
}

.profile-title {
  padding-top: 0;
}

.p-t {
  padding-top: 15px;
}

.card-buttons {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #D6D8E7;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  background-color: transparent;
  border: none;
}

.diving-line {
  width: 0;
  border-right: 1px solid #D6D8E7;
}
