.users-info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.users-info__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #D6D8E7;
  border-radius: 16px;
  background: #FFFFFF;
  padding: 39px 50px;
  margin-right: 32px;
  margin-bottom: 60px;
  width: 396px;
  height: 208px;
}

.users-info__block:nth-child(4n) {
  margin-right: 0;
}

.user-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.75px;
  color: #4E4B66;
  padding: 0;
  margin: 0;
}

.user-email {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.75px;
  color: #4E4B66;
  padding: 20px 0 20px 0;
  margin: 0;
}

.user-profiles {
  padding: 0;
  margin: 0;
}

